* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  background-color: rgba(173, 26, 48, 0.993);
  height: 100vh;
}

.titulo-principal {
  text-align: center;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 100vw;
}
.calculadora {
  background-color: rgba(247, 132, 149, 0.993);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 400px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
}

.modelo {
  padding: 5px 0 0;
  font-size: 30px;
}
.resultado {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  background-color: beige;
  color: black;
  width: 215px;
  height: 45px;
  margin: 15px 0 15px;
}

table {
  width: 200px;
  height: 275px;
}
button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  margin: 3px;
}
button:hover {
  background-color: rgb(255, 50, 50);
}
#igual {
  height: 6.5rem;
}
#zero {
  width: 6.5rem;
}

.bloconotas {
  background-image: url('./assets/bgnotepad.png');
  background-repeat: no-repeat;
  background-color: black;
  width: 500px;
  height: 600px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
}
