* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html {
  overflow: hidden;
}
body {
  background-color: rgba(173, 26, 48, 0.993);
  height: 100vh;
}

.titulo-principal {
  margin-top: 10px;
  text-align: center;
  color: black;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
  width: 100vw;
}
.calculadora {
  position: relative;
  background-color: rgba(247, 132, 149, 0.993);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 400px;

  margin-left: 10%;
}

.modelo {
  padding: 5px 0 0;
  font-size: 30px;
}
.resultado {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  background-color: beige;
  color: black;
  width: 215px;
  height: 45px;
  margin: 15px 0 15px;
}

table {
  width: 200px;
  height: 275px;
}
.botao {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  margin: 3px;
}
.botao:hover {
  background-color: rgb(255, 50, 50);
}
#igual {
  height: 6.5rem;
}
#zero {
  width: 6.5rem;
}

.bloconotas {
  display: flex;
  flex-direction: column;
  height: 625px;
  width: 456px;
  background: linear-gradient(45deg, rgb(255, 255, 255), white);
  /*   background-image: url('./assets/bgnotepadtest.jpg');
  background-repeat: no-repeat; */
  border-radius: 15px;
}
.notepad-title {
  margin: 20px 0 0 40px;
  height: 50px;
  font-size: 30px;
}

.annotations {
  width: 380px;
  height: 30px;
  border-bottom: lightseagreen 3.5px solid;
  margin: 10px auto;
  justify-content: center;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.bloconotas > .clearResults {
  justify-content: center;
}
.clearResults {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  background: rgba(247, 132, 149, 0.993);
  font-size: 1.8rem;
  width: 5rem;
  height: 3rem;
  margin: 5px 37px 0 auto;
  padding: 0 50px;
}

.clearResults:hover {
  background: rgb(255, 50, 50);
}

/*rodape*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div {
  display: flex;
  margin: 5px 10px 0;
  flex-direction: row;
}

figure {
  margin: 0 10px;
}

footer > p {
  font-size: 25px;
}
